*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: antiquewhite;
}

h1,h2,h3,h4,h5,h6{
    color: #333;
}
p,label{
    color: #444;
}

input{
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
   
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"] {
    width: 400px;
}

textarea{
    padding: 10px 5px;
    margin-top:9px ;
}

.header{
    height: 160px;
    padding: 20px;
    background-color: rgb(21, 82, 61);
}

.header h3{
    color: white;
    margin-top: 0px;
}
.form-container{
    background-color: white;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -62px;
}

.form-header{
    border-bottom: 1px solid #DFDFDF;
    height: 40px;
}

.form-header p {
    background-color:  #673ab7;
    border-radius: 10px;
    color: white;
    border-bottom: 2px solid #673ab7;
    width: 150px;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    height: 40px;
    line-height: 50px;
    
    
}

.form-body{
    padding: 30px;
}

.form-title{
    margin-bottom: 15px;
}

.form-body p {
    margin-bottom: 20px;
}

.required-field {
    color: red;
}

.box-input{
    margin-bottom: 35px;
}

.block {
    display: block;
}

.optional-box{
    display: inline-block;
    margin: 0 30px 30px 0;

}

.optional-list li{
    list-style: none;
    margin-bottom: 5px;
}

.box-input p{
    margin-bottom: 15px;
}

.btn-submit{
    background-color: #673ab7;
    color: white;
    border: 2px solid transparent;
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-transform:  uppercase;
    transition: 0.5s;
    
}

.btn-submit:hover{
    background-color: white;
    border: #673ab7;
    color: #673ab7;
    border: 2px solid #673ab7;
}



